<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <!-- Compiled and minified CSS -->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    {{{body}}}
  </body>
</html>
